<li id="event-<%= event.id %>>">
	<%= link_to gravatar_for(event.user, size: 50), event.user %>
	<span class="user"><%= link_to event.user.name, event.user %></span>
	<span class="description">
	<%= event.description %>
	    <%= image_tag event.picture.url if event.picture? %>
	</span>
	<span class="address"><%= event.location %></span>
	<span class="date"><%= event.date.strftime('%v')   %></span>
	<span class="invitees"> attending so far- <%= event.invitees.count %>
	<% if current_user?(event.user) %>
		<%= link_to("delete", event , method: :delete,
				data: {confirm: "You are sure?"}) %>
	<% end %>
	 </span> 
</li>